button:focus {
    box-shadow: none !important;
}

.title{
    text-align: center;
}


/********************* Navbar *****************/
.navbar{
    background-color: #DEF4FF;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-light .navbar-brand {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2rem;
    color: #094C60;
}


/********************* Login Page *****************/
.form-input {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
}

.login-page-button {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color:#094C60;
    color: #ffffff;
}

.login-page-button:hover {
    background-color:#DEF4FF;
    color: #094C60;
}

.base {
    background-color:#DEF4FF;
    padding-bottom: 140px;
}

.logo-image {
    width: 72%;
    height: 70vh;
}

.login-form {
    width: 100%;
    height: 100%;
}

/********************* Signup Modal *****************/
.signup-form {
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    color: #094C60;
}

.signup-input {
    border-radius: 25px;
    width: 100%;
}

.signup-modal-button {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color:#094C60;
    color: #ffffff;
}

.signup-modal-button:hover {
    background-color:#ffffff;
    color: #094C60;
}

/********************* Add Items Form *****************/
.add-items-page-body{
    display: flex;
}

.nav-link {
    color: #DEF4FF;
}

.nav-link:hover {
    color: #DEF4FF;
}


Form {
    font-family: 'Montserrat Bold', sans-serif;
    align-items: center;
    font-size: 1.2rem;
}

.form {
    padding: 20px;
}

.item-name-input {
    border-radius: 25px;
    width: 100%;
}

.item-type-input {
    border-radius: 25px;
    width: 100%;
}

.item-image-input {
    border-radius: 25px;
    width: 100%;
}

.item-desc-input {
    border-radius: 25px;
    width: 100%;
}

.add-item-form-button {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color:#094C60;
    color: #ffffff;
}

.add-item-form-button:hover {
    background-color:#ffffff;
    color: #094C60;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.page-title {
    margin-top: 10px;
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

.add-item-heading {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2rem;
    color: #094C60;
    text-align: center;
}

h5 {
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

.title{
    text-align: center;
}

/********************* Card container *****************/
.page-container {
    margin: 10px;
    padding: 10px;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #E4E4E4;
    border-radius: 10px;
    min-height: 800px;
}

.item-card {
    font-family: 'Montserrat Bold', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


.featured-card {
    font-family: 'Montserrat Bold', sans-serif;
    margin: 10px 10px 50px 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 800px;
    max-height: auto;
}

.request-card {
    font-family: 'Montserrat Bold', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.item-img {
    width: 100%;
    height: 245px;
}

.item-img--cover {
    object-fit: cover;
}

.item-img--contain{
    object-fit: contain;
}

.item-card-edit-button{
    display: inline-block;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    background-color:#094C60;
    color: #ffffff;
}

.item-card-edit-button:hover {
    background-color:#ffffff;
    color: #094C60;
}

.item-card-delete-button{
    display: inline-block;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
}

.card-buttons {
    display: inline-block;
    float: right;
    margin-left: 10px;
    border-radius: 25px;
    background-color:#094C60;
    color: #ffffff;
}

.card-buttons:hover {
    background-color:#ffffff;
    color: #094C60;
}

.my-items-container{
    background-color: lightblue;
}

/********************* Single Columns *****************/
.single-column-page{
    justify-content: center;
    width: auto;
}

.single-column-page-container{
    justify-content: center;
    max-width: 800px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
    min-height: 800px;
}

/********************* Edit Item Modal *****************/
.edit-item-modal-heading {
    font-family: 'Fredoka One', sans-serif;
    font-size: 1.5rem;
    color: #094C60;
}

.edit-item-modal-input {
    border-radius: 25px;
    width: 100%;
}

.edit-item-form-button {
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color:#094C60;
    color: #ffffff;
}

.edit-item-form-button:hover {
    background-color:#ffffff;
    color: #094C60;
}

/********************* Requests Page *****************/
.request-card {
    font-family: 'Montserrat Bold', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.pending-request-btn{
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color:#094C60;
    color: #ffffff;
}

.pending-request-btn:hover {
    background-color:#ffffff;
    color: #094C60;
}

.header{
    display: flex;
}

.request-buttons{
    margin-left: auto;
}

.received-request-btn{
    margin: 0px 10px 0px 10px;
    max-width: 200px;
    background-color: white;
}

.card-text{
    margin: 0;
    padding-top: 5px;
}

#rating-label{
    color: #2869AB;
}

.counter-input .form-control {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100px;
    border: 1px solid black;
    justify-content: center;
}

.counter-input .input-group-addon {
     background-color: lightgrey;
     padding-right: 20px;
     padding-left: 20px;
     justify-content: center;
     padding-top: 5px;
}

.pending-card{
    margin: 10px;
    padding: 10px;
    background-color: #DEF4FF;
}

.accepted-card{
    margin: 10px;
    padding: 10px;
    background-color: #81cc95;
}

.request-card-status{
    color: #424242;
    margin-left: auto;
    float: right;
}









.carousel{
	background-color: lightblue;
  }

  .carousel .carousel-inner {
	height: 360px !important;
  }

.carousel .carousel-inner .carousel-item {
	justify-content: center;
	overflow-y: scroll;
	max-height: 100%;
}

.carousel .carousel-inner .carousel-item .featured-card{
	margin: auto;
	margin-top: 1.5%;
	margin-bottom: 3%;
}

.carousel .carousel-inner .carousel-item .carouselText{
	font-family: 'Montserrat Bold', sans-serif;
	color: rgb(85, 134, 246);
    text-align: center;
	margin-top: 9%;
}

