@import "./componentCSS/itemCard.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body{
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  padding: 0 16px;
}