
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo {
  height: 8vmin;
  width: 19vmin;
  display:inline-block;
  margin-right:470px;
  float: left
}
.navBar {
  background-color: #82a9d1;
  height: 8vmin;
}

.verticalLine {
  border-left: 1px solid rgb(9, 9, 7);
  height: 12px;
  margin-right:5px;
  display:inline-block;
}
.navBarItemsBox {
  position: relative;
  bottom: -11px;
}

.navBarItems {
  color: black;
  display:inline-block;
  margin-right:5px;
  font-size: 10px;
}