.add-items-page-body{
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.page-title {
    margin-top: 10px;
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

Form {
    font-family: 'Montserrat Bold', sans-serif;
    align-items: center;
    font-size: 1.2rem;
}

.page-container {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 768px;
}

#container-border {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 600px;
    overflow-y: scroll;
}

.item-card {
    font-family: 'Montserrat Bold', sans-serif;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.item-img {
    width: 100%;
    height: 245px;
}

.item-img--cover {
    object-fit: cover;
}

.item-img--contain{
    object-fit: contain;
}

.card-buttons{
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.my-items-container{
    background-color: lightblue;
}

.my-borrowed-items{
    justify-content: center;
    width: auto;
}