.navbar{
    background-color: lightgrey;
}

.button {
    background-color: white;
}

.form {
    padding: 20px;
}

a {
text-decoration: none;
}

.add-items-page-body{
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.page-title {
    margin-top: 10px;
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Montserrat Bold', sans-serif;
    text-align: center;
}

.title{
    text-align: center;
}

Form {
    font-family: 'Montserrat Bold', sans-serif;
    align-items: center;
    font-size: 1.2rem;
}

.page-container {
    margin: 10px;
    padding: 10px;
    max-height: 100%;
    min-height: 800px;
    overflow-y: scroll;
    background-color: #E4E4E4;
    border-radius: 10px;
}

.item-card {
    font-family: 'Montserrat Bold', sans-serif;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.item-img {
    width: 100%;
    height: 245px;
}

.item-img--cover {
    object-fit: cover;
}

.item-img--contain{
    object-fit: contain;
}

.card-buttons{
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.my-items-container{
    background-color: lightblue;
}

.my-borrowed-items{
    justify-content: center;
    width: auto;
}

.borrowed-items-container{
    justify-content: center;
    max-width: 800px;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.card-text{
    margin: 0;
    padding-top: 5px;
}

#rating-label{
    color: #2869AB;
}
