.add-items-page-body{
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.page-title {
    text-align: center;
}

.page-container {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 768px;
}

#container-border {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 600px;
    overflow-y: scroll;
}

.item-card {
    border: 2px solid black;
    margin: 10px;
}

.item-image{
    padding: 5px;
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
    border-right: 2px solid black;
    height: 12rem;
    width: 100%;
    object-fit: contain;
}

.App-logo {
    height: 8vmin;
    width: 19vmin;
    display:inline-block;
    margin-right:660px;
    float: left
}





.navBar {
    background-color: #82a9d1;
    height: 8vmin;
}
.navBarItemsBox {
    position: absolute;
    bottom: 93%;
    left: 85%;
}

.verticalLine {
    border-left: 1px solid rgb(9, 9, 7);
    height: 12px;
    margin-right:3px;
    margin-left:3px;
    display: inline-block;
}

.navBarItems {
    color: black;
    display: inline-block;
    margin-right:3px;
    margin-left:3px;
    font-size: 10px;
}

.Marketplace-search{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    height: 695px;
    width: 350px;
    position: absolute;
    top: 120px;
}

.Marketplace-items{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 695.3px;
    width: 800px;
    overflow-y: scroll;
    position: absolute;
    left: 540px;
    top: 120px;
}